body {
  font-family: Inconsolata, monospace;
  background-image: url('/assets/images/background-desktop.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}



.Secure{
    font-weight: 500;
    font-size: 15px;
    color: #92959b; /* Gray-500 */
}
label{
    font-size: 20px;
}
 .preview-img {
max-height: 100%;
max-width: 100%;
object-fit: contain;
}
.error {
    border: 1px solid red !important;
  }