body{
    background-image: url('/assets/images/background-desktop.png');
    font-family: Inconsolata, monospace;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 margin: 0;
  padding: 0;
}
.Secure{
    font-weight: 500;
    font-size: 15px;
    color: #92959b; /* Gray-500 */
}
label{
    font-size: 20px;
}
 .preview-img {
      max-height: 100%;
      max-width: 100%;
      object-fit: contain;
    }
.ticket {
  background-image: url('./assets/images/pattern-ticket.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* مخصص للموبايل */
@media (max-width: 640px) {
  .ticket {
    background-size: cover; /* تجعل الصورة تناسب حجم العنصر */
  }
}

.code{
    transform: rotateZ(91.5deg);
}